@keyframes portalGlow {
    0% {
      box-shadow: 0 0 10px #00ff80, 0 0 20px #2fff2f;
    }
    50% {
      box-shadow: 0 0 10px #00ff80, 0 0 15px #15d015;
    }
    100% {
      box-shadow: 0 0 10px #00ff80, 0 0 10px #0d870d;
    }
  }
  
  .card {
    height: 100%;
    border: 2px solid #014b06;
    border-radius: 10px;
    animation: portalGlow 2s infinite alternate;
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px;
    overflow: hidden; 
  
    &:hover {
      box-shadow: 0 0 30px #00ff80, 0 0 50px #1bff1b;
    }
  }
  
  
  .img {
    border-radius: 10px 10px 0 0;
  }
  
  .badge {
    top: 10px;
    right: 20px;
    font-size: 17px;
  }
  
 